:root {
    --primary-color: #000f37;
    --secondary-color: #ffffff;
    --tertiary-color: #eff6ff;
  }

  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px; 
  }
  


.main-container {
  margin-top: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding: 10px;
}

.detalle-container {
  width: 100%;
  margin-bottom: 20px;
}

.main-title {
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.sub-title {
  font-size: 1.5rem;
  color: #666;
  margin: 0 0 20px 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 1.5rem;
  }

  .sub-title {
    font-size: 1.2rem;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .main-title {
    font-size: 1.2rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }
}

