.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header img {
    max-height: 50px;
    object-fit: contain;
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.fa-bell {
    font-size: 1.5rem;
    margin-right: 10px;
    color: black;
}

.user-info p {
    margin: 0 10px;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.flecha {
    height: 12px;
    margin-left: 10px;
}

.estudiante {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-end;   
}

.estudiante p:first-child {
    font-weight: bold;
}

.estudiante p:second-child {
    font-weight: bold;
    color: #516168;
}