.horario-container {
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    overflow: hidden;
}

.horario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232741; /* Color oscuro */
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.horario-header i {
    background-color: white;
    color: #232741;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
}

.horario{
    margin:10px;

}

.horario-item {
    background-color: #F7F9FC; /* Fondo claro */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.badge {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.badge.presencial {
    background-color: #f1a536; /* Naranja */
}

.badge.virtual_vivo {
    background-color: #137176; /* Verde oscuro */
}

.badge.virtual_247 {
    background-color: #8C2874; /* Morado oscuro */
}

.curso-titulo {
    font-size: 16px;
    font-weight: bold;
    color: #4B4F55;
    margin-bottom: 5px;
}

.horario-hora {
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
}

.horario-lugar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.lugar-link {
    color: #A55EEA; /* Morado para los enlaces */
    text-decoration: none;
    background-color: #E8DAF4;
    padding: 5px 10px;
    border-radius: 5px;
}

.aula {
    font-size: 14px;
    font-weight: bold;
    background-color: #E8DAF4;
    padding: 5px 10px;
    color: #A55EEA;
    border-radius: 5px;
}

.horario-zoom, .horario-utpclass {
    display: inline-block;
    color: #8C47DB;
    font-size: 14px;
    text-decoration: none;
    background-color: #E9DAF9;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
}

.horario-zoom:hover, .horario-utpclass:hover {
    background-color: #C5BBFF;
}
