


.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-image {
    border-radius: 10px;
}

.slide-text {
    flex: 1;
    padding: 0 20px;
}

.slide-text h2 {
    font-size: 24px;
    font-weight: bold;
}

.slide-text p {
    font-size: 16px;
    line-height: 1.4;
}

.slide-text a {
    color: #ff0044;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dashed #ff0044;
}

.slide-text a:hover {
    text-decoration: underline;
}
