@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');

/* Estructura del navbar */
.navbar {
  position: fixed;
  background-color: #070937;
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  transition: background-color 0.3s;
  text-decoration: none;
  color: white;
}

/* Efecto hover */
.navbar-item:hover {
  background-color: #1B2E62;
}

/* Estilos para los íconos */
.navbar-item i {
  font-size: 1.4rem;
  color: white;
}

/* Estilos para el texto */
.navbar-item p {
  font-size: 12px;
  padding-top: 5px;
  color: white;
  margin: 0;
}

/* Elemento activo con fondo celeste */
.navbar-item.active {
  background-color: #F0F6FF; /* Fondo celeste claro para el ítem activo */
  color: #070937; /* Texto e ícono en color oscuro */
}

.navbar-item.active i,
.navbar-item.active p {
  color: #070937; /* Cambia el color de los íconos y el texto cuando está activo */
}

/* Hover sobre el texto que no sea activo */
.navbar-item:hover:not(.active) i,
.navbar-item:hover:not(.active) p {
  color: #fff; /* Mantiene el color blanco en hover si no está activo */
}
