:root {
  --primary-color: #5F2DED;
  --secondary-color: #0C0E2B;
  --white-color: #FFFF;
  --black-color: #000000;
  --red-color: #FF0000;
  --green-color: #19D907;
  --orange-color: #ECBF0B;
  --bg-color: #F5F5F5;

  --primary-font: 'Poppins', sans-serif ;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  font-family: var(--primary-font);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

p, span, a {
  font-size: 13px;
}

.container {
  padding: 40px;
  overflow-y: auto;
  
}

.button-primary {
  border-radius: 5px;
  background-color: transparent;
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

#red {
  color: var(--red-color);
}

#green {
  color: var(--green-color);
}

#primary-color {
  color: var(--primary-color);
}

#red-container {
  border: solid 1px var(--red-color);
  color: var(--red-color);
  border-radius: 5px;
  padding: 5px;
}
#red-container p{
  padding: 0;
}

#green-container {
  border: solid 1px var(--green-color);
  color: var(--green-color);
  border-radius: 5px;
  padding: 5px;
}
#green-container p{
  padding: 0;
}

#orange-container {
  border: solid 1px var(--orange-color);
  color: var(--orange-color);
  border-radius: 5px;
  padding: 5px;
}
#orange-container p{
  padding: 0;
}

@media (max-width: 768px){
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 15px;
  }
  
  p, span, a {
    font-size: 12px;
  }
}